{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- content block -->
{% block content %}
 

 <script type="text/javascript">
 $(document).ready(function($) {
 $.backstretch([
 "static/image/pitch1.jpeg",
 "static/image/pitch2.jpeg",
 "static/image/pitch3.jpeg",
 "static/image/pitch4.jpeg",
 "static/image/pitch5.jpeg",
 "static/image/pitch6.jpeg",
 "static/image/pitch7.jpeg",
 "static/image/pitch8.jpeg",
 "static/image/pitch9.jpeg"],
 {duration: 3000, fade: 1750});
 });
 </script>
 
    <div class="container">
        <div class="row">
            <h1 id="title-home">Pitch</h1>
        <h3> Got an Idea? This is the right place to bring in an idea and give to the world.</h3>
        <h3> It could impress or change somebodies life out there.</h3>
                       <h3>Register above to be able to pitch all your brilliant ideas.</h3>   
    </div>


    <ul class="category-list text-center">
            {{macro.displayCategories(category)}}
        </ul>


    </div>
{% endblock %}